In [1]:
import pandas as pd
import numpy as np

In [2]:
customers = pd.read_csv("Ecommerce Customers")

In [3]:
customers.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [5]:
X = customers[['Avg. Session Length', 'Time on App','Time on Website', 'Length of Membership']]

In [6]:
y = customers['Yearly Amount Spent']

In [7]:
from sklearn.linear_model import LinearRegression

In [8]:
lm = LinearRegression()

In [9]:
lm.fit(X,y)

LinearRegression()

In [10]:
lm.coef_

array([25.73427108, 38.70915381,  0.43673884, 61.57732375])

In [11]:
coeffecients = pd.DataFrame(lm.coef_,X.columns)

In [12]:
print(coeffecients)

                              0
Avg. Session Length   25.734271
Time on App           38.709154
Time on Website        0.436739
Length of Membership  61.577324

In [13]:
coeffecients.columns = ['Coeffecient']

In [15]:
print(lm.intercept_)

-1051.5942553006246

In [14]:
print(coeffecients)

                      Coeffecient
Avg. Session Length     25.734271
Time on App             38.709154
Time on Website          0.436739
Length of Membership    61.577324

In [ ]:
YearlyAmountSpent = -1052 + 26*Avg.SessionLength + 39*TimeonApp + 0.5*TimeonWebsite + 62*LengthofMembership